*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
html{
    height: 100%;
}
body{
    height: 100vh;
    width: 100%;
    font-family: "Outfit"  ,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    padding-inline: 1.5rem;
}
.qr_code-component{
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;
}
.qr_code-image{
    border-radius: 8px;
    margin-block-end: 1.5rem;
}
.qr_code-title{
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-block-end: 0.7rem;
}
.qr_code-desc{
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    line-height: 1.5;
    font-size: 0.875rem;
    padding-block-end: 1rem;
}
.qr_code-title,
.qr_code-desc{
    text-align: center;
}
.attribution {
    font-size: 0.688rem; 
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}


@media screen and (min-width: 23.438rem) {
    .qr_code-component{
        max-width: 20.45rem;
    }
    .qr_code-image{
        margin-block-end: 1rem;
        border-radius: 10px;
    }
    .qr_code-title{
        font-size: 1.5rem;
        padding-block-end: 1rem;
    }
    .qr_code-desc{
        font-size: 0.93rem;
        line-height: 1.4;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
    .attribution{
        font-size: 0.75rem;
    }
}